<form action="/cadastrarUsuario" method="post" >
    <p>Usuário:</p>
    <input type="text" value="andre" name="login">
    <p>Senha:</p>
    <input type="password" value="senha123" name="senha">
    <p>E-mail:</p>
    <input type="text" value="teste@gmail.com" name="email">
    <input type="submit">    
</form>
